{
    "rules": {
        "indent": [
            1,
            2,
            {
                "SwitchCase": 1
            }
        ],
        "quotes": [
            1,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "eqeqeq": [2],
        "no-console": [0]
    },
    "env": {
        "node": true
    },
    "extends": "eslint:recommended"
}